*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(back.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}
.main{
    margin-top: -40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    animation-name: pad;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
.main button img{
    width: 400px;
    border-radius: 100%;
    background-color: transparent;
}
.main button{
    margin-top: 5%;
    background-color: transparent;
    border: none;
}
h1{
    text-align: center;
    color: navajowhite;
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
    margin-top: 15px;
}
.my h3 {
    color: oldlace;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
    margin-top: 15px;
}
.main h3{
    color: wheat;
    align-items: center;
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 15px;
    border-radius: 24px;
    border: solid whitesmoke;
    padding: 5px;
}
.left{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 15%;
    height: 50%;
    align-items: center;
}
.manual{
    display: flex;
    justify-content: center;
    width: 17%;
    flex-direction: column;
    height: 75vh;
    margin-top: 30px;
    background-color: transparent;

}
.manual h2{
    color: blanchedalmond;
    text-transform: uppercase;
    font-weight: 800;
    text-align: center;
}
.manual ul{
    color: blanchedalmond;
    font-size: medium;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 800;
    margin-left: 5px;
    text-transform: uppercase;
}
.manual ul li{
    padding: 4px;
}
#head{
    padding: 5px;
    border-bottom:solid whitesmoke ;
}
#shead{
    padding: 5px;
    border-bottom:solid whitesmoke ;
    border-top: solid whitesmoke;
    margin-top: 10px;
}
.right{
    margin-left: 85%;
    color: turquoise;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.right h3{
    text-transform: uppercase;
    font-weight: 800;
    padding: 7px;
    text-decoration: underline;
    text-transform: uppercase;
}
.right span{
    text-align: center;
    font-weight: 800;
   

}
span{
    color: turquoise;
}
@keyframes pad {
    0%{
        padding: 25px;
    }
    50%{
        padding: 40px;
    }
    100%{
        padding: 25px;
    }
    
}
@media  screen and (max-width:600px) {
    body{
        background-color: rgb(32, 20, 20);
        display: flex;
        flex-direction: column;
        width: 100%;
        background-image: none;
    }
    .manual{
        width: 100%;
        display: flex;
        margin-top: 100%;
    }
    .main{
        margin-top: -220%;
    }
    .main button img{
        width: 250px;
    }
    .right{
        margin-top: 15%;
        margin-left: 60%;
    }
}
